<a href="https://colab.research.google.com/github/Yi-Wei-Lin/Tibame_ML_20210602/blob/main/%E9%A6%99%E8%95%89_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
# train_df = pd.read_csv("banana.csv", encoding="utf-8")
train_df = pd.read_excel("Banana_v2.xls")

# Date 民國 to 西元
def date_df(d):
  d = d.split("/")
  year = str(int(d[0])+1911)
  month = (d[1])
  day = (d[2])
  d = (f"{year}-{month}-{day}")
  return d
date_df = pd.DataFrame({"Date":train_df["Date"].apply(date_df)})
train_df.update(date_df)

# Month method
def Month(m):
  Month_data = int(m.split("-")[1])
  return Month_data
train_df["Month"] = train_df["Date"].apply(Month)

# Week_day method
def week_day(d):
  d = d.split("-")
  year = int(d[0])
  month = int(d[1])
  day = int(d[2])
  temp = pd.Timestamp(f"{year}-{month}-{day}")
  week_day = temp.dayofweek + 1 #temp.dayofweek 0(禮拜一) 開始, +1是因為比較直接禮拜幾
  return week_day
train_df["Week_day"] = train_df["Date"].apply(week_day)
train_df["Year"] = train_df["Date"].apply(lambda d:int(d.split("-")[0]))

# Rest_market
market_df = pd.DataFrame({"Market":train_df["Market"].apply(lambda t:t.split(" ")[1])})
train_df.update(market_df)

# Volume chnage from str to int
# train_df["Volume"] = train_df["Volume"].apply(lambda x:int(x.replace(",","")))

# Up_price change from onj to float
# train_df["Up_price"] = train_df["Up_price"].apply(lambda x:float(x))
market_df["Market"]
train_df

             Date Market  Product  Up_price  ...  Volume_diff  Month  Week_day  Year
0      2001-01-01    台北二  A1 香蕉        35.0  ...        -65.0      1         1  2001
1      2001-01-02    台北二  A1 香蕉        32.9  ...         71.0      1         2  2001
2      2001-01-03    台北二  A1 香蕉        32.7  ...         18.0      1         3  2001
3      2001-01-05    台北二  A1 香蕉        32.5  ...          NaN      1         5  2001
4      2001-01-06    台北二  A1 香蕉        29.8  ...        -25.0      1         6  2001
...           ...    ...      ...       ...  ...          ...    ...       ...   ...
56452  2021-06-12    台東市  A1 香蕉        32.0  ...        -34.0      6         6  2021
56453  2021-06-13    台東市  A1 香蕉        30.0  ...         18.0      6         7  2021
56454  2021-06-14    台東市  A1 香蕉        30.0  ...        -20.0      6         1  2021
56455  2021-06-17    台東市  A1 香蕉        33.0  ...          7.0      6         4  2021
56456  2021-06-19    台東市  A1 香蕉        36.0  ...        -32.0      6         6  2021

[56457 rows x 13 columns]

In [14]:
train_df["Date"] = pd.to_datetime(train_df["Date"])
train_df["Date"]

0       2001-01-01
1       2001-01-02
2       2001-01-03
3       2001-01-05
4       2001-01-06
           ...
56452   2021-06-12
56453   2021-06-13
56454   2021-06-14
56455   2021-06-17
56456   2021-06-19
Name: Date, Length: 56457, dtype: datetime64[ns]

In [15]:
train_df
train_df.dtypes

Date              datetime64[ns]
Market                    object
Product                   object
Up_price                 float64
Mid_price                float64
Low_price                float64
Avg_price                float64
Avg_price_diff           float64
Volume                   float64
Volume_diff              float64
Month                      int64
Week_day                   int64
Year                       int64
dtype: object

In [16]:
# 填補市場休市欄位
market_list = train_df["Market"].value_counts().index.tolist()
m_total = []
for i,mark_name in enumerate(market_list):
  a = train_df["Market"] == mark_name
  start_time = train_df[a].reset_index(drop=True)["Date"][0]
  t_index = pd.date_range(start_time, '2021-06-19', freq='D') #start_time by 市場別
  T_df = pd.DataFrame(t_index, columns=['Date'])
  m = train_df[a].merge(T_df, how="right",sort=True)
  most = m.value_counts().idxmax()
  m["Market"]=m["Market"].fillna(most[1])
  m["Product"]=m["Product"].fillna(most[2])
  na = m["Volume"].isna()
  m["Month"] = m["Date"].apply(lambda x:int(str(x).split("-")[1]))
  m["Week_day"] = m["Date"].apply(lambda x:pd.Timestamp(str(x).split()[0]).dayofweek+1)
  m["Year"] = m["Date"].apply(lambda x:int(str(x).split("-")[0]))
  import math
  def restday(s):
    if s > 0:
      return 0
    else:
      return 1
  m["Rest_day"] = m["Volume"].apply(restday) #判斷 restday 0 or 1
  Avg_price_diff = []
  Volume_diff = []
  Avg_price_diff.append(m["Avg_price_diff"][0])
  Volume_diff.append(m["Volume_diff"][0])
  for i in range(len(m)-1):
    Avg_price_diff_value = (m["Avg_price"][i+1] - m["Avg_price"][i]) / m["Avg_price"][i]
    Avg_price_diff_value = round(Avg_price_diff_value*100, 2)
    Avg_price_diff.append(Avg_price_diff_value)

    Volume_diff_value = (m["Volume"][i+1] - m["Volume"][i]) / m["Volume"][i]
    Volume_diff_value = round(Volume_diff_value*100, 2)
    Volume_diff.append(Volume_diff_value)
  m["Avg_price_diff"] = Avg_price_diff
  m["Volume_diff"] = Volume_diff
  globals()[f"m{i}"] = m
  m_total.append(globals()[f"m{i}"])
print(m.dtypes)
len(market_list)
final_data = pd.concat(m_total).reset_index(drop=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: RuntimeWarning: divide by zero encountered in double_scalars

Date              datetime64[ns]
Market                    object
Product                   object
Up_price                 float64
Mid_price                float64
Low_price                float64
Avg_price                float64
Avg_price_diff           float64
Volume                   float64
Volume_diff              float64
Month                      int64
Week_day                   int64
Year                       int64
Rest_day                   int64
dtype: object

In [19]:
final_data.to_csv("Banana_v2.csv", encoding="utf-8", index=False)
# final_data.to_excel("Banana_v2.xlsx", encoding="utf-8", index=False)
final_data

            Date Market  Product  Up_price  ...  Month  Week_day  Year  Rest_day
0     2001-01-01    嘉義市  A1 香蕉        28.0  ...      1         1  2001         0
1     2001-01-02    嘉義市  A1 香蕉        28.0  ...      1         2  2001         0
2     2001-01-03    嘉義市  A1 香蕉        28.0  ...      1         3  2001         0
3     2001-01-04    嘉義市  A1 香蕉        25.0  ...      1         4  2001         0
4     2001-01-05    嘉義市  A1 香蕉        25.0  ...      1         5  2001         0
...          ...    ...      ...       ...  ...    ...       ...   ...       ...
77151 2021-06-15    東勢區  A1 香蕉         NaN  ...      6         2  2021         1
77152 2021-06-16    東勢區  A1 香蕉         NaN  ...      6         3  2021         1
77153 2021-06-17    東勢區  A1 香蕉         NaN  ...      6         4  2021         1
77154 2021-06-18    東勢區  A1 香蕉        13.3  ...      6         5  2021         0
77155 2021-06-19    東勢區  A1 香蕉         NaN  ...      6         6  2021         1

[77156 rows x 14 columns]